<div class="  p-3 overflow-hidden">
    <div class="d-flex align-items-center justify-content-center border-bottom">
        <input (input)="searchData()" [(ngModel)]="content" type="text" placeholder="Tìm kiếm "
            class="form-control select-btn">
        <span (click)="content = ''" class=""><i class="fa-solid fa-xmark fa-bounce fs-4"></i></span>
    </div>
    <div class="row mt-1 m-0 p-0 overflow-scroll h-100">
        <div class="col-3 p-0  ">
            <p *ngFor="let item of dsObj; let i = index" (click)="keyActive = i" class=" m-0 p-1 ps-0" role="button">
                {{item.name}} </p>
        </div>
        <div class="col-9 p-0  ps-1 ">
            <div class="row m-0 p-1">

                <ng-container *ngFor="let item of dsObj[keyActive].data">
                    <span *ngIf="item.isActive || (item.isActive == undefined) || (content.trim() == '')"
                        (click)="onSelectTypeFile(item)" class="col-4 m-0 p-1">
                        <button class="btn btn-dark w-100"> {{ item.name }} </button>
                    </span>
                </ng-container>

            </div>
        </div>
    </div>
</div>