<ng-container>
    <footer id="footer" class="bg-hm">

        <div class="footer-newsletter bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h4>Hmdigi.com</h4>
                        <form action="" method="post">
                            <input type="email" name="email" class=" contact-input"><input type="submit"
                                value="Contact">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>
                            <img src="./assets/img/logohm.png" width="50px" alt="">
                        </h3>
                        <p>Công ty trách nhiệm hữu hạn Dịch vụ và Tư vấn Hoàng Minh</p>
                        <br>
                        <p>
                            <b>VPGD:</b> 19M đường Nguyễn Hữu Cảnh , Phường 19, Bình Thạnh, Thành phố Hồ Chí Minh<br>
                            <b>VP:</b> 163 Điện Biên Phủ, Phường 15, Quận BìnhThạnh, TP.HCM<br><br>
                            <strong>Phone:</strong> +09.9999.9999<br>
                            <strong>Email:</strong> contact@hmdigi.com , info@hmdigi.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Trang chủ</h4>
                        <ul>
                            <li> <a target="_blank" href="https://hmdigi.com/">Về chúng tôi</a></li>
                            <li> <a [routerLink]="['/security']">Bảo mật</a></li>
                            <li> <a [routerLink]="['/format']">Định dạng </a></li>
                            <li> <a [routerLink]="['/support']">Hỗ trợ</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Dịch vụ</h4>
                        <ul>
                            <li> <a [routerLink]="['/ocr']">Nhận dạng và bóc tách</a></li>
                            <li> <a [routerLink]="['/convert-pdf']">Nén file PDF </a></li>
                            <li> <a [routerLink]="['/convert-img']">Chuyển đổi hình ảnh </a></li>
                            <li> <a [routerLink]="['/document']">Document </a></li>
                            <li> <a [routerLink]="['/pricing']">Dịch vụ </a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Chúng tôi đã triển khai </h4>
                        <p><span class="fs-4">2 , 9 9 9 , 9 9 9 9</span> tệp / 40,5 TB </p>
                    </div>

                </div>
            </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>HMDIGI</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Tiếng việt <i class="fa-solid fa-earth-americas"></i>
            </div>
        </div>
    </footer>

    <a [ngClass]="{active: isActiveBackTop}" (click)="backTop()"
        class="  back-to-top btn-hm d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
</ng-container>