<div class="form-auth">
    <div class="row m-0 p-0 w-100 h-100 bg-white ">
        <div class="col-5 p-0 d-xl-block d-none">
            <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine"
                class="tab-left bg-hm shadow d-flex align-items-center   text-white">
                <div role="button" [routerLink]="['/']"
                    class="lg d-flex justify-content-center align-items-center shadow-lg  ">
                    <img src="assets/img/logohm.png" width="70px" alt="">
                </div>
                <div data-aos="zoomo-in" class="ocr shadow item-card ">
                    <span class="fw-bold fs-2">OCR</span>
                </div>
                <div data-aos="zoomo-in" class="pdf shadow item-card ">
                    <span class="fw-bold fs-3">PDF</span>
                </div>
                <div data-aos="zoomo-in" class="img shadow item-card ">
                    <span class="fw-bold fs-4">IMG</span>
                </div>
                <div data-aos="zoomo-in" class="zip shadow item-card ">
                    <span class="fw-bold fs-5">ZIP</span>
                </div>
                <div class="bg-tab   item-background">

                </div>
                <div class="tab-footer text-center ">
                    <p class="fs-3 fw-bold text-hm m-0 ">HMDIGI.COM</p>
                    <p class="text-secondary"><small>Chúng tôi giúp chuyển đổi tập tin của bạn sang bất kì định dạng nào
                            bạn muốn</small></p>
                </div>
            </div>
        </div>
        <div class="col-xl-7 col-12 p-2  ">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>