<section id="hero" class="  d-flex align-items-center">

    <div class="container">
        <div class="page-title text-center">
            <h1 class="text-hm">Định dạng File</h1>
            <p>Các định dạng file được hỗ trợ bởi chúng tôi</p>
        </div>

        <div class="row m-0 p-0 ">
            <div class="col-xl-9 col-12 m-0">
                <div id="fm-audio" class="item-format pb-4">
                    <p>Audio</p>
                    <div class="wrapper-format">
                        <table class="table ">
                            <thead>
                                <tr class="border-0">
                                    <th width="20%" scope="col">Định dạng</th>
                                    <th width="80%" scope="col">Miêu tả </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="">
                                        <div class="d-flex align-items-center">
                                            <i class="fa-solid fa-headphones"></i>
                                            <span class="ms-2"> 8SVX</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span>Amiga 8SVX </span>
                                            <span
                                                class="ms-auto border border-success text-success px-1 rounded">WRTIE</span>
                                            <span class=" ms-1 border border-info text-info px-1 rounded">READ</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <div class="d-flex align-items-center">
                                            <i class="fa-solid fa-headphones"></i>
                                            <span class="ms-2"> AAC</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span>Advanced Audio Coding</span>
                                            <span
                                                class="ms-auto border border-success text-success px-1 rounded">WRTIE</span>
                                            <span class=" ms-1 border border-info text-info px-1 rounded">READ</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <div class="d-flex align-items-center">
                                            <i class="fa-solid fa-headphones"></i>
                                            <span class="ms-2"> AC3</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span>AC3 Audio File</span>
                                            <span
                                                class="ms-auto border border-success text-success px-1 rounded">WRTIE</span>
                                            <span class=" ms-1 border border-info text-info px-1 rounded">READ</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <div class="d-flex align-items-center">
                                            <i class="fa-solid fa-headphones"></i>
                                            <span class="ms-2"> AIFF</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span>
                                                Định dạng file Audio Interchange </span>
                                            <span
                                                class="ms-auto border border-success text-success px-1 rounded">WRTIE</span>
                                            <span class=" ms-1 border border-info text-info px-1 rounded">READ</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <div class="d-flex align-items-center">
                                            <i class="fa-solid fa-headphones"></i>
                                            <span class="ms-2">AMB</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span>Ambisonic B-Format </span>
                                            <span
                                                class="ms-auto border border-success text-success px-1 rounded">WRTIE</span>
                                            <span class=" ms-1 border border-info text-info px-1 rounded">READ</span>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="fm-video" class="item-format py-4">
                    <p>Video</p>
                    <div class="wrapper-format">
                        <table class="table ">
                            <thead>
                                <tr class="border-0">
                                    <th width="20%" scope="col">Định dạng</th>
                                    <th width="80%" scope="col">Miêu tả </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="">
                                        <div class="d-flex align-items-center">
                                            <i class="fa-solid fa-vector-square"></i>
                                            <span class="ms-2"> 3G2</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span> Third Generation Partnership Project</span>
                                            <span
                                                class="ms-auto border border-success text-success px-1 rounded">WRTIE</span>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="fm-vectors" class="item-format py-4">
                    <p>Vectors</p>
                    <div class="wrapper-format">
                        <table class="table ">
                            <thead>
                                <tr class="border-0">
                                    <th width="20%" scope="col">Định dạng</th>
                                    <th width="80%" scope="col">Miêu tả </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="">
                                        <div class="d-flex align-items-center">
                                            <i class="fa-solid fa-vector-square"></i>
                                            <span class="ms-2"> AFF</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span> Acorn Draw</span>
                                            <span
                                                class="ms-auto border border-success text-success px-1 rounded">WRTIE</span>
                                            <span class=" ms-1 border border-info text-info px-1 rounded">READ</span>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="fm-fonts" class="item-format py-4">
                    <p>Fonts</p>
                    <div class="wrapper-format">
                        <table class="table ">
                            <thead>
                                <tr class="border-0">
                                    <th width="20%" scope="col">Định dạng</th>
                                    <th width="80%" scope="col">Miêu tả </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="">
                                        <div class="d-flex align-items-center">
                                            <i class="fa-solid fa-font"></i>
                                            <span class="ms-2"> AFM</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span>Adobe Font Metrics</span>
                                            <span
                                                class="ms-auto border border-success text-success px-1 rounded">WRTIE</span>
                                            <span class=" ms-1 border border-info text-info px-1 rounded">READ</span>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="fm-document" class="item-format py-4">
                    <p>Các tài liệu</p>
                    <div class="wrapper-format">
                        <table class="table ">
                            <thead>
                                <tr class="border-0">
                                    <th width="20%" scope="col">Định dạng</th>
                                    <th width="80%" scope="col">Miêu tả </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="">
                                        <div class="d-flex align-items-center">
                                            <i class="fa-solid fa-book"></i>
                                            <span class="ms-2">ABW</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span>AbiWord</span>
                                            <span
                                                class="ms-auto border border-success text-success px-1 rounded">WRTIE</span>
                                            <span class=" ms-1 border border-info text-info px-1 rounded">READ</span>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="fm-image" class="item-format py-4">
                    <p>Image</p>
                    <div class="wrapper-format">
                        <table class="table ">
                            <thead>
                                <tr class="border-0">
                                    <th width="20%" scope="col">Định dạng</th>
                                    <th width="80%" scope="col">Miêu tả </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="">
                                        <div class="d-flex align-items-center">
                                            <i class="fa-solid fa-image"></i>
                                            <span class="ms-2">PNG</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span>Png file </span>
                                            <span
                                                class="ms-auto border border-success text-success px-1 rounded">WRTIE</span>
                                            <span class=" ms-1 border border-info text-info px-1 rounded">READ</span>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 m-0 d-none d-xl-block ">
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item"> <a href="#fm-audio">Audio</a></li>
                    <li class="list-group-item"> <a href="#fm-image">Image</a></li>
                    <li class="list-group-item"> <a href="#fm-document">Các tài liệu</a></li>
                    <li class="list-group-item"> <a href="#fm-fonts">Font</a></li>
                    <li class="list-group-item"> <a href="#fm-vectors">Vector</a></li>
                    <li class="list-group-item"> <a href="#fm-video">Video</a></li>
                    <li class="list-group-item"> <a href="#fm-image">Văn khổ</a></li>
                </ul>
            </div>
        </div>
    </div>

</section>