<ng-container>

  <div class=" border rounded  position-relative  mx-auto convert shadow">
    <div class="head bg-hm d-flex rounded-top shadow align-items-center py-2">
      <p class="ic rounded-circle my-1 ms-2 bg-danger"></p>
      <p class="ic rounded-circle my-1 ms-2 bg-primary"></p>
      <p class="ic rounded-circle my-1 ms-2 bg-warning"></p>
      <p class="my-0 ms-2 text-secondary px-2 flex-fill  me-2 rounded-top bg-white text-truncate">
        <i class="fa-sharp fa-solid fa-rotate-right  " [ngClass]="{'fa-spin': isLoading}"></i>
        <span class="text-animation ms-2">
          <span *ngFor="let item of href.split('') ; let i = index" [style]="'--index:'+i">{{ item
            }}</span>
        </span>
      </p>
      <p [routerLink]="['/support']" class="d-xl-block d-none my-0 text-secondary px-2 me-2 rounded-top section-bg"
        role="button">
        <i class="fa-sharp fa-solid fa-info"></i>
        Hỗ trợ
      </p>
      <p [routerLink]="['/security']" class="d-xl-block d-none my-0 text-secondary px-2 me-2 rounded-top section-bg"
        role="button">
        <i class="fa-sharp fa-solid fa-shield"></i>
        Bảo mật
      </p>
    </div>
    <div class="h-100 content rounded-bottom d-flex align-items-center justify-content-center ">

      <div *ngIf="files.length > 0" class="  convert-container-main w-100 ">

        <div class="data-wrapper" id="data-wrapper">

          <ng-container *ngFor="let item of files; let i = index">
            <div class="data d-flex-center border-bottom  p-3">
              <div class="row m-0 p-0 w-100">
                <div class="col-xl-4 col-12 m-0 p-0">
                  <span><i class="fa-solid fa-file p-2 shadow-sm"></i> {{item.file.name}} </span>
                </div>
                <div class="col-xl-6 col-12 row m-0 p-0 d-flex px-2 align-items-center justify-content-around">
                  <div class="d-flex col-xl-6 col-12 p-0 justify-content-center">
                    <div class="dropdown-open ms-2 border border-secondary rounded px-2 py-1 dropdown-toggle"
                      type="button">
                      {{ item.type_file?.name ?? '...' }}
                      <app-type-file (onSelectChange)="onSelectChange($event,i)" class=" "></app-type-file>
                    </div>
                  </div>
                  <div *ngIf="!item.type"
                    class="col-xl-6 col-12 p-0 d-flex align-items-center status-file justify-content-between">
                    <span class=" border-hm border rounded px-2 text-hm">Sẵn sàng </span>
                  </div>
                  <div *ngIf="item.type == 1"
                    class=" col-xl-6 col-12 p-0 d-flex gap-2 align-items-center status-file justify-content-between">
                    <span class=" border-warning border rounded px-2 text-warning">Tải lên </span>
                    <span>{{ item.progress }}%</span>
                  </div>
                  <div *ngIf="item.type == 2"
                    class="col-xl-6 col-12 p-0 d-flex gap-2 align-items-center status-file justify-content-between">
                    <span class=" border-success border rounded px-2 text-success">Đã kết thúc </span>
                    <span>1 trang </span>
                    <button class="btn btn-hm">Tải về </button>
                  </div>
                </div>
                <div class="col-xl-2 col-12 m-0 p-0 d-flex align-items-center">
                  <span class="text-secondary">{{ formatBytes(item.file.size) }}</span>
                  <span (click)="removeFile(i)" class="ms-auto"><i class="fa-solid fa-xmark"></i></span>
                </div>
              </div>
            </div>
          </ng-container>

        </div>
        <div class="file-tool">
          <div class="d-flex-center p-2  ">
            <div class="   ">

              <div class="  dropdown-toggle dropdown-open" type="button">
                Chuyển đổi tất cả thành
                <app-type-file (onSelectChange)="onSelectChange($event,-1)" class=""></app-type-file>
              </div>

            </div>
          </div>
        </div>

        <div class="convert-wrapper rounded-bottom overflow-hidden">
          <div class="converter d-flex-center w-100 h-100 ps-2">
            <div class="d-flex align-items-center gap-2">
              <label for="upload-add" class="btn btn-light"><i class="fa-solid fa-plus text-hm"></i> Thêm
                nhiều tệp
                tin </label>
              <p class="m-0 text-secondary p-0 title-xl">Dùng Ctrl hoặc Shift để thêm nhiều tập </p>
            </div>
            <div class="ms-auto d-flex  ">
              <button (click)="convert()" id="btn-convert" class="btn py-3 rounded-0 btn-hm">Chuyển đổi <i
                  class="fa-solid fa-chevron-right"></i>
              </button>
            </div>
          </div>
        </div>

      </div>

      <div [ngClass]="{'d-none': files.length > 0}" class=" convert-container w-100  rounded-bottom overflow-hidden">
        <div class="converter d-flex-center w-100 h-100 position-relative overflow-hidden">
          <div class="file-source-button">

            <div class="position-relative" style="z-index: 2;">

              <div class="bg-hm rounded shadow p-2 text-light">
                <div class="p-2">
                  <label for="upload-add" class="  w-100 h-100 d-flex-center fw-bold" role="button">CHỌN TẬP TIN
                    <i class="fa-solid fa-file ms-2 "></i>
                  </label>
                  <input (change)="onChangeInput($event)" type="file" name="" id="upload-add" class="d-none"
                    multiple="true">
                </div>
              </div>
              <p class="text-secondary mt-1 fs-7"><i class="fa-solid fa-lock"></i> Thả tập tin ở đây. 100 MB
                Kích thước
                file
                tối
                đa hoặc là <a href="./dangky.html" class="text-hm">Đăng ký</a>
              </p>

            </div>

            <img style="position: absolute; right: 0; bottom: 0;width: 30%;"
              src="https://www.fegno.com/wp-content/uploads/2022/03/web-development-company-in-kochi.gif" alt="">


          </div>
        </div>
      </div>

    </div>
  </div>

  <div id="preloader_drop" (click)="isActive = false" [ngClass]="{active: isActive}">
    <i class="fa-sharp fa-solid fa-plus"></i>
  </div>
</ng-container>