#dropdownMenuFileSelectMobile:hover + .dropdownMenuFileSelectMobileActive
{
    right: 0;
    top: 100%;
    display: block;
}  
.convert{
    min-height: 200px;
    width: 85%;
}
.ic{
    width: 15px; height: 15px;
}
@media (max-width: 575px) {
    .convert{
        width: 100% !important;
    }
    .file-source-button{
        width: 75% !important;
    }
}

@keyframes type {
    85% { opacity: 1;}
    100% { width: 0px !important; opacity: 0; } 
}

.text-animation {
    overflow: hidden;    
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} 

.text-animation span {
    overflow: hidden; 
    padding-right: 0.1em;  
    animation: type 5s  infinite ;  
    animation-delay: calc(0.05s * var(--index));  
}

.ui-convert-bottom{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: var(--hm-500);
    border-radius: 50%;
    top: 50%;
    z-index: 1;
    right: 90%; 
}

.ui-convert-bottom::after{
    content: "";
    position: absolute;
    transform: rotate(163deg);
    width: 20px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    z-index: 1;
    right: 80%;
}

.ui-convert-top{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: var(--hm-500);
    border-radius: 50%;
    bottom: 20%;
    z-index: 1;
    left: 80%;
} 

.ui-convert-top::after{
    content: "";
    position: absolute;
    transform: rotate(163deg);
    width: 20px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    top: 30%;
    z-index: 1;
    left: 80%;
}

.head{
    position: relative;
    z-index: 2;
    background-color: white;
}

.content{
    position: relative;
    z-index: 2;
    background-color: white;
}