
#dropdownMenuFileSelectMobile:hover + .dropdownMenuFileSelectMobileActive
{
    right: 0;
    top: 100%;
    display: block;
}  

.convert{
    min-height: 200px;
    width: 85%;
} 

.ic{
    width: 15px; height: 15px;
}   

.bg-button-dot{
    background-image: radial-gradient(white 1px, var(--hm-500) 1.5px);
    background-size: calc(7 * 1.5px) calc(7 * 1.5px);
}
@media (max-width: 575px) {
    .convert{
        width: 100% !important;
    }
    .file-source-button{
        width: 75% !important;
    }
}

@keyframes type {
    85% { opacity: 1;}
    100% { width: 0px !important; opacity: 0; } 
}

.text-animation {
    overflow: hidden;    
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} 

.text-animation span {
    overflow: hidden; 
    padding-right: 0.1em;  
    animation: type 5s  infinite ;  
    animation-delay: calc(0.05s * var(--index));  
}

.head{
    position: relative;
    z-index: 2;
    background-color: white;
}

.content{
    position: relative;
    z-index: 2;
    background-color: white;
}