<div>
    <header id="header" class="fixed-top shadow p-2">
        <div class="container d-flex align-items-center  justify-content-center">

            <h1 class="logo  "><a [routerLink]="['/']"><img src="./assets/img/logohm.png" width="50px" alt=""></a>
            </h1>

        </div>
    </header>

    <router-outlet></router-outlet>

    <footer id="footer" class="bg-hm border-top">

        <div class="footer-top py-3 h-100  ">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-md-12 text-center">
                        <h3>
                            <img src="./assets/img/logohm.png" width="50px" alt="">
                            <span class="text-hm">HmDigi</span> - <span class="text-secondary">Trang thanh toán</span>
                        </h3>
                    </div>


                </div>
            </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>HMDIGI</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Tiếng việt <i class="fa-solid fa-earth-americas"></i>
            </div>



        </div>
    </footer>
</div>