<section id="hero" class="mh-100vh  d-flex align-items-center">

    <div class="container">
        <div class="page-title text-center">
            <h1 class="text-hm">Chọn các gói đăng ký phù hợp </h1>
            <p>Tiết kiệm đến 40% với gói hàng năm </p>
        </div>
        <section id="pricing" class="pricing p-0">
            <div class=" mt-2" data-aos="fade-up">

                <div class="row m-0 p-0 m-2">

                    <div *ngFor="let item of dsObjPricing" class=" col-lg-4  m-0 py-3 px-2 " data-aos="fade-up"
                        data-aos-delay="100">
                        <div class="box text-center border pb-2 item-prcing  rounded">
                            <h3 class="mb py-3 bg-hm text-white"> {{item.name}} </h3>
                            <h4 class="py-3">
                                <span class="fs-1 text-hm"> {{item.price | number}} </span>
                                <sup>&#8363;</sup>
                                <span> / tháng</span>
                            </h4>
                            <ul class="mt-2 section-bg py-3 px-1">

                                <li *ngFor="let i of item.options" class="list-group-item my-4 border-0">
                                    <i [ngClass]="i.icon" class=" me-2"></i>
                                    <span [innerHTML]="i.name"></span>
                                </li>

                            </ul>
                            <span (click)="registerItem(item)" class="btn btn-outline-hm rounded px-2 py-1 mb-1 fs-6"
                                role="button">Đăng ký </span>
                        </div>
                    </div>

                </div>

            </div>
        </section>
    </div>

</section>

<main id="main">

    <section class="detail-end section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Tất cả các gói bao gồm</h2>
            </div>

            <div class="row m-0 p-2">
                <div class="col-xl-4 col-12 text-center mb-5">
                    <p class="m-0 mb-2"><i class="fa-solid fa-chart-simple fs-2"></i></p>
                    <p class=" w-50 m-auto"><b>Không giới hạn</b> phút chuyển đổi mỗi ngày</p>
                </div>
                <div class="col-xl-4 col-12 text-center mb-5">
                    <p class="m-0 mb-2"><i class="fa-solid fa-clock fs-2"></i></p>
                    <p class=" w-50 m-auto"><b>Không giới hạn</b> thời gian chuyển đổi tối đa cho mỗi tập tin</p>
                </div>
                <div class="col-xl-4 col-12 text-center mb-5">
                    <p class="m-0 mb-2"><i class="fa-solid fa-circle-xmark fs-2"></i></p>
                    <p class=" w-50 m-auto"><b>Trang Adfree</b></p>
                </div>
            </div>

        </div>
    </section>

    <section class="detail-end w-75 mx-auto">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <p>Các câu hỏi thường gặp ?</p>
            </div>

            <div class="mb-2">
                <p class="fw-bold m-0">Tôi có thể hủy đăng ký bất cứ lúc nào không?
                </p>
                <div>
                    Bạn có thể dễ dàng hủy đăng ký bất cứ lúc nào bằng cách truy cập trang tài khoản của bạn.
                    Bạn đã thắng được tính phí cho chu kỳ thanh toán tiếp theo của mình và bạn có thể tiếp tục sử
                    dụng tài khoản cho đến khi kết thúc thời gian bạn đã thanh toán.
                </div>
            </div>

            <div class="mb-2">
                <p class="fw-bold m-0">Tôi có thể trả như thế nào?
                </p>
                <div>
                    Chúng tôi hiện chấp nhận Thẻ tín dụng/thẻ ghi nợ (Visa, MasterCard, Amex, Discover, Diners Club,
                    JCB), Chuyển khoản, PayPal, Amazon, Alipay, Sofort, GiroPay, iDEAL.
                    Danh sách chính xác các phương thức thanh toán có sẵn tùy thuộc vào quốc gia của bạn.
                </div>
            </div>

            <div class="mb-2">
                <p class="fw-bold m-0">Các tệp cá nhân/chuyên nghiệp của tôi có an toàn khi sử dụng Convertio không?
                </p>
                <div>
                    Có, các tập tin của bạn sẽ được bảo mật 100%. Tất cả thông tin liên lạc giữa thiết bị của bạn và
                    máy chủ của chúng tôi được thực hiện trong kênh bảo mật (SSL) với HSTS được bật, điều này ngăn
                    dữ liệu bị thay đổi hoặc chuyển hướng. Các tệp được liên kết với IP của bạn, vì vậy chỉ người
                    dùng, người đã thực hiện chuyển đổi, mới có thể nhận được tệp đầu ra.
                </div>
            </div>

            <div class="mb-2">
                <p class="fw-bold m-0">Tôi có thể được hoàn lại tiền không?
                </p>
                <div>
                    Vì chúng tôi cung cấp phiên bản miễn phí cho tất cả người dùng nên chúng tôi sẽ không hoàn lại
                    tiền cho các gói đăng ký sau khi bạn đã quyết định nâng cấp lên gói cao cấp. Xin vui lòng xem
                    lại Chính sách Hoàn tiền và kiểm tra kỹ lưỡng dịch vụ của chúng tôi trước khi quyết định mua gói
                    đăng ký.
                </div>
            </div>

        </div>
    </section>

</main>