<div class=" h-100  d-flex align-items-center justify-content-center ">
    <div data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine"
        class="content-register shadow overflow-hidden rounded border">
        <app-loading-page></app-loading-page>
        <div class="p-4  d-flex h-100 flex-column">
            <div class=" mb-2">
                <div class="text-center d-block d-xl-none mb-2">
                    <img role="button" [routerLink]="['/']" src="assets/img/logohm.png" width="50px" alt="">
                </div>
                <p class="text-center fw-bold fs-3 text-secondary">Đăng ký tài khoản</p>
            </div>
            <div class=" mb-2">

                <label class="form-label fw-bold">Email:</label>
                <span class="text-danger" *ngIf="objError.email">
                    {{ objError.email }}
                </span>
                <div [ngClass]="{'border-danger': objError.email}" class="d-flex border rounded">
                    <span class="px-2 d-flex align-items-center justify-content-center   ">
                        <i [ngClass]="{'text-danger': objError.email}" class="fa-solid fa-envelope text-secondary"></i>
                    </span>
                    <input [(ngModel)]="obj.email" autocomplete="off" type="text" class="w-100 "
                        placeholder="Nhập email">
                </div>

            </div>
            <div class=" mb-2">

                <label class="form-label fw-bold">Mật khẩu:
                </label>
                <span class="text-danger" *ngIf="objError.password">
                    {{ objError.password }}
                </span>
                <div [ngClass]="{'border-danger': objError.password}" class="d-flex border rounded">
                    <span class="px-sm-2 d-flex align-items-center justify-content-center">

                        <i [ngClass]="{'text-danger': objError.password}" class="fa-solid fa-lock text-secondary"></i>
                    </span>
                    <input [(ngModel)]="obj.password" [type]=" isViewPassword ? 'text' : 'password' " class=" w-100"
                        placeholder="Mật khẩu">
                    <span class="px-2 d-flex align-items-center justify-content-center">
                        <i *ngIf="!isViewPassword" (click)="isViewPassword = true"
                            class="fa-solid fa-eye text-secondary"></i>
                        <i *ngIf="isViewPassword" (click)="isViewPassword = false"
                            class="fa-solid fa-eye-slash text-secondary"></i>
                    </span>
                </div>

            </div>
            <div class=" mb-2">

                <label class="form-label fw-bold">Nhập lại mật khẩu:
                </label>
                <span class="text-danger" *ngIf="objError.confirm_password">
                    {{ objError.confirm_password }}
                </span>
                <div [ngClass]="{'border-danger': objError.confirm_password}"
                    class="d-flex border rounded align-items-center">
                    <span class="px-2 d-flex align-items-center justify-content-center">
                        <i [ngClass]="{'text-danger': objError.confirm_password}"
                            class="fa-solid fa-lock  text-secondary"></i>
                    </span>
                    <input [(ngModel)]="obj.confirm_password" [type]="isViewConfirmPassword ? 'text' : 'password' "
                        class="w-100" placeholder="Nhập lại mật khẩu">
                    <span class="px-2 d-flex align-items-center justify-content-center">
                        <i *ngIf="!isViewConfirmPassword" (click)="isViewConfirmPassword = true"
                            class="fa-solid fa-eye text-secondary"></i>
                        <i *ngIf="isViewConfirmPassword" (click)="isViewConfirmPassword = false"
                            class="fa-solid fa-eye-slash text-secondary"></i>
                    </span>
                </div>

            </div>
            <div class="mb-2">
                <app-captcha *ngIf="isFirstFailed" [(token)]="token"></app-captcha>
                <button (click)="register()" class="btn btn-hm w-100 fw-bold">Tạo tài khoản </button>
                <div class="text-center">
                    <small>
                        Bạn đã có tài khoản ? <span class="text-hm" role="button" [routerLink]="['/login']">Đăng
                            nhập</span>
                    </small>
                </div>
            </div>

            <div>
                <p class="text-center my-2 text-secondary">- Hoặc đăng ký bằng -</p>
                <div class="mb-2 rounded px-2 py-1 d-flex align-items-center justify-content-center " role="button">
                    <asl-google-signin-button type="standard" size='large'></asl-google-signin-button>
                </div>
            </div>

            <div class="text-center mt-auto text-secondary">
                <small>&copy; Copyright <strong><span>HMDIGI</span></strong>. All Rights Reserved</small>
            </div>
        </div>
    </div>
</div>