<header id="header" class="fixed-top  shadow  pb-0 ">
    <div class="container d-flex align-items-center justify-content-center">
        <h1 class="logo  "><a [routerLink]="['/']"><img src="assets/img/logohm.png" width="50px" alt=""></a></h1>
    </div>
    <app-loading-page></app-loading-page>
</header>

<div class="form-register">
    <div class="form-wraper shadow-lg rounded px-5 pt-2 pb-5 d-flex flex-column   ">

        <div class="form">
            <p class="text-hm fs-2 text-center border-bottom">ĐĂNG KÝ</p>
            <div class="form-group mb-2">
                <input type="text" class="border-hm form-control" placeholder="Email">
            </div>
            <div class="form-group mb-2">
                <input type="password" class="border-hm form-control" placeholder="Mật khẩu">
            </div>
            <p class="text-center m-0"> HOẶC </p>
            <div class="mb-2   rounded px-2 py-1 d-flex align-items-center justify-content-between   " role="button">

                <span class="ms-1 text-secondary">Đăng ký với Google</span>
                <asl-google-signin-button select_account size='large'></asl-google-signin-button>
            </div>

            <button class="btn btn-outline-hm w-100">Tạo tài khoản </button>
        </div>

    </div>
</div>
<app-captcha [(token)]="tokenCapcha"></app-captcha>