  
  .w-xl-50
  {
    width: 50%;
  }

  @media (max-width: 768px) {
    .w-sm-100{
      width: 100% !important;
    }
  }

  .item-prcing , h3{
    transition: all .5s;
    overflow: hidden !important
}

.item-prcing:hover{
    border: unset !important;
    ;
    box-shadow: 0 0 0 2px var(--hm), 8px 8px 0 0 var(--hm-500);
} 

.item-prcing:hover  > h3{
    font-weight: bold;
} 
