<section style="clip-path: ellipse(97% 67% at 51% 32%);" class="h-50 text-white bg-hm  d-flex align-items-center">

    <div class="  container mt-5">
        <div class="page-title text-center">
            <h1 class=" ">API Pricing</h1>
        </div>
    </div>

</section>

<main id="main">

    <section id="services" class="services   ">
        <div class="container" data-aos="fade-up">

            <div class="mx-auto row">

                <div *ngFor="let item of dsObjPricing" class="col-lg-4  m-0 py-3 px-2 " data-aos="fade-up"
                    data-aos-delay="100">
                    <div class="box text-center border pb-2  rounded">
                        <h3 class="mb py-3 bg-hm text-white"> {{item.name}} </h3>
                        <h4 class="py-3">
                            <span class="fs-1 text-hm"> {{item.price | number}} </span>
                            <sup>&#8363;</sup>
                            <span> / tháng</span>
                        </h4>
                        <ul class="mt-2 section-bg py-3 px-1">

                            <li *ngFor="let i of item.options" class="list-group-item my-4 border-0">
                                <i [ngClass]="i.icon" class=" me-2"></i>
                                <span [innerHTML]="i.name"></span>
                            </li>

                        </ul>
                        <span (click)="registerItem(item)" class="btn btn-outline-hm rounded px-2 py-1 mb-1 fs-6"
                            role="button">Đăng ký </span>
                    </div>
                </div>

            </div>

        </div>
    </section>

</main>