<section id="hero" class="  d-flex align-items-center">

    <div class="container">
        <div class="page-title text-center">
            <h1 class="  text-hm">Chuyển đổi tệp tin </h1>
            <p>Chúng tôi giúp chuyển đổi tập tin của bạn sang bất kì định dạng nào bạn muốn </p>

        </div>

        <app-convert></app-convert>
        <p class="mt-2 mb-0 text-center">Chúng tôi đã đã tiếp nhận
            <span data-end="2999999" id="count-hm" class="fw-bold fs-2 text-hm">{{ count_file | number }}
            </span> tệp /
            40,5TB
        </p>
    </div>

</section>

<main id="main">

    <section id="cliens" class="cliens section-bg">
        <div class="container">

            <div class="row" data-aos="zoom-in">

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="./assets/img/clients/FILE.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="./assets/img/clients/PDF.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="./assets/img/clients/OCR.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="./assets/img/clients/ZIP.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="./assets/img/clients/RAR.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="./assets/img/clients/JPEG.png" class="img-fluid" alt="">
                </div>

            </div>

        </div>
    </section>
    <section id="services" class="services  ">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Dịch vụ</h2>
                <p>Chuyển đổi tập tin của bạn sang bất kì định dạng nào bạn muốn </p>
            </div>

            <div class="row m-0 p-0">

                <div class="col-xl-4 m-0 col-md-6 d-flex align-items-stretch mt-4   " data-aos="zoom-in"
                    data-aos-delay="100">
                    <div class="icon-box text-center">
                        <div class="icon"><i class="fa-solid fa-hurricane  "></i></div>
                        <h4><a href="">Hỗ trợ 300+ định dạng</a></h4>
                        <p>Chúng tôi hỗ trợ hơn 25600 kiểu chuyển đổi khác nhau giữa hơn 300 định dạng tập tin khác
                            nhau. Nhiều
                            hơn bất kỳ chương trình chuyển đổi nào khác.</p>
                    </div>
                </div>

                <div class="col-xl-4 m-0 col-md-6 d-flex align-items-stretch mt-4  " data-aos="zoom-in"
                    data-aos-delay="200">
                    <div class="icon-box text-center">
                        <div class="icon"><i class="fa-solid fa-bolt"></i></div>
                        <h4><a href="">Nhanh và dễ dàng</a></h4>
                        <p>Chỉ cần thả tập tin của bạn vào trang này, chọn định dạng đầu ra và nhấn nút "Chuyển đổi".
                            Đợi một
                            chút
                            để quá trình hoàn tất. Chúng tôi muốn thực hiện mọi thao tác chuyển đổi trong vòng dưới 1-2
                            phút.</p>
                    </div>
                </div>

                <div class="col-xl-4 m-0 col-md-6 d-flex align-items-stretch mt-4  " data-aos="zoom-in"
                    data-aos-delay="300">
                    <div class="icon-box text-center">
                        <div class="icon"><i class="fa-solid fa-cloud-arrow-up"></i></div>
                        <h4><a href="">Điện toán đám mây</a></h4>
                        <p>Mọi thao tác chuyển đổi diễn ra đều không tiêu tốn bất kỳ tài nguyên nào từ máy
                            tính của
                            bạn.</p>
                    </div>
                </div>

                <div class="col-xl-4 m-0 col-md-6 d-flex align-items-stretch mt-4  " data-aos="zoom-in"
                    data-aos-delay="400">
                    <div class="icon-box text-center">
                        <div class="icon"><i class="fa-solid fa-gear"></i></div>
                        <h4><a href="">Cài đặt tùy chỉnh</a></h4>
                        <p>Hầu hết kiểu chuyển đổi nào cũng đều hỗ trợ tùy chọn nâng cao. Ví dụ, với chương trình chuyển
                            đổi
                            video
                            thì bạn có thể chọn chất lượng, tỷ lệ khung hình, bộ giải mã và các cài đặt khác, xoay và
                            lật.</p>
                    </div>
                </div>

                <div class="col-xl-4 m-0 col-md-6 d-flex align-items-stretch mt-4  " data-aos="zoom-in"
                    data-aos-delay="400">
                    <div class="icon-box text-center">
                        <div class="icon"><i class="fa-solid fa-shield-halved"></i></div>
                        <h4><a href="">Đảm bảo bảo mật</a></h4>
                        <p>Chúng tôi sẽ xóa tập tin tải lên ngay tức thì và xóa tập tin đã chuyển đổi sau 24 giờ. Không
                            ai có
                            quyền truy cập vào tập tin của bạn và đảm bảo riêng tư 100%. Đọc thêm về bảo mật.</p>
                    </div>
                </div>

                <div class="col-xl-4 m-0 col-md-6 d-flex align-items-stretch mt-4  " data-aos="zoom-in"
                    data-aos-delay="400">
                    <div class="icon-box text-center">
                        <div class="icon"> <i class="fa-solid fa-tv"></i> </div>
                        <h4><a href="">Hỗ trợ mọi thiết bị</a></h4>
                        <p>Convertio dựa trên trình duyệt và hoạt động với mọi nền tảng. Không cần tải về và cài đặt bất
                            kỳ phần
                            mềm nào.</p>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section id="detail-developer" class=" section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>For developers</h2>
                <p>Convert dành cho các nhà phát triển</p>
            </div>
            <div class="d-flex justify-content-between">
                <div></div>
                <div class="d-flex flex-wrap justify-content-center">
                    <a [routerLink]="['/document']" class="btn btn-outline-hm ms-2 mt-2">Tài liệu Developer </a>
                    <a [routerLink]="['/']" class="btn btn-outline-hm ms-2 mt-2">PHP Example</a>
                    <a [routerLink]="['/document/pricing']" class="btn btn-outline-hm ms-2 mt-2">Đăng ký API</a>
                </div>
                <div></div>
            </div>

        </div>
    </section>


</main>