<main id="main" class="mt-5">

    <section id="services" class="services section-bg ">

        <div class="tab-right bg-light p-2" data-aos="fade-up">
            <div class="border-bottom border-5 border-hm">
                <h2>API Documentation</h2>
            </div>
            <div class="py-2  content">
                <div id="start-a-new-coversion" class=" section-id my-2">
                    <h4>Bắt đầu một chuyển đổi mới</h4>
                    <p>Để bắt đầu chuyển đổi mới, bạn cần thực hiện yêu cầu POST sau:</p>
                    <p class="bg-dark text-light px-2 py-1">
                        POST https://api.convertio.co/convert
                    </p>

                    <div class="example-code">
                        <p class="mb-0 bg-white px-2 ">
                            Ví dụ sử dụng:
                        </p>
                        <p class="bg-dark text-light px-3 py-2">
                            curl -i -X POST -d '"apikey": "_YOUR_API_KEY_", "file":"http://google.com/",
                            "outputformat":"png"' http://api.convertio.co/convert
                        </p>
                    </div>

                    <div class="bg-white border  ">
                        <h4 class="m-2">Tham số</h4>
                        <div class="row m-0 p-0 border-bottom">
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>Trường </span>
                                    <span class="ms-auto">Kiểu </span>
                                </div>
                            </div>
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>Chi tiết </span>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 p-0 border-bottom text-secondary">
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>apikey </span>
                                    <span class="ms-auto">String </span>
                                </div>
                            </div>
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>Your API Key </span>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 p-0 border-bottom text-secondary">
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>filename </span>
                                    <span class="ms-auto">String </span>
                                </div>
                            </div>
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>Your API Key </span>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 p-0 border-bottom text-secondary">
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>input </span>
                                    <span class="ms-auto">String </span>
                                </div>
                            </div>
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>Your API Key </span>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 p-0 border-bottom text-secondary">
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>file </span>
                                    <span class="ms-auto">String </span>
                                </div>
                            </div>
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>Your API Key </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="direct-file-upload-for-conversion" class=" section-id my-2">
                    <h4>Tải lên tệp trực tiếp để chuyển đổi</h4>
                    <p>Để bắt đầu chuyển đổi mới, bạn cần thực hiện yêu cầu POST sau:</p>
                    <p class="bg-dark text-light px-2 py-1">
                        POST https://api.convertio.co/convert
                    </p>

                    <div class="example-code">
                        <p class="mb-0 bg-white px-2 ">
                            Ví dụ sử dụng:
                        </p>
                        <p class="bg-dark text-light px-3 py-2">
                            curl -i -X POST -d '"apikey": "_YOUR_API_KEY_", "file":"http://google.com/",
                            "outputformat":"png"' http://api.convertio.co/convert
                        </p>
                    </div>

                    <div class="bg-white border  ">
                        <h4 class="m-2">Tham số </h4>
                        <div class="row m-0 p-0 border-bottom">
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>Trường </span>
                                    <span class="ms-auto">Kiểu </span>
                                </div>
                            </div>
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>Chi tiết </span>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 p-0 border-bottom text-secondary">
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>apikey </span>
                                    <span class="ms-auto">String </span>
                                </div>
                            </div>
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>Your API Key </span>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 p-0 border-bottom text-secondary">
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>filename </span>
                                    <span class="ms-auto">String </span>
                                </div>
                            </div>
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>Your API Key </span>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 p-0 border-bottom text-secondary">
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>input </span>
                                    <span class="ms-auto">String </span>
                                </div>
                            </div>
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>Your API Key </span>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 p-0 border-bottom text-secondary">
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>file </span>
                                    <span class="ms-auto">String </span>
                                </div>
                            </div>
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>Your API Key </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="ocr" class=" section-id my-2">
                    <h4>Nhận dạng và bóc tách (OCR)</h4>
                    <p>Để có được danh sách các chuyển đổi của bạn và trạng thái của chúng, hãy thực hiện theo yêu
                        cầu POST:</p>
                    <p class="bg-dark text-light px-2 py-1">
                        POST https://api.convertio.co/convert/list
                    </p>

                    <div class="example-code">
                        <p class="mb-0 bg-white px-2 ">
                            Ví dụ sử dụng:
                        </p>
                        <p class="bg-dark text-light px-3 py-2">
                            curl -i -X POST -d '"apikey": "_YOUR_API_KEY_", "status": "all", "count": 3'
                            http://api.convertio.co/convert/list
                        </p>
                    </div>

                    <div class="bg-white border  ">
                        <h4 class="m-2">Tham số</h4>
                        <div class="row m-0 p-0 border-bottom">
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>Trường </span>
                                    <span class="ms-auto">Kiểu </span>
                                </div>
                            </div>
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>Chi tiết </span>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 p-0 border-bottom text-secondary">
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>apikey </span>
                                    <span class="ms-auto">String </span>
                                </div>
                            </div>
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>Your API Key </span>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 p-0 border-bottom text-secondary">
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>status </span>
                                    <span class="ms-auto">String </span>
                                </div>
                            </div>
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>Your API Key </span>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 p-0 border-bottom text-secondary">
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>count </span>
                                    <span class="ms-auto">String </span>
                                </div>
                            </div>
                            <div class="col-6 m-0 p-0  ">
                                <div class="d-flex px-3 py-2">
                                    <span>Your API Key </span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="tab-left  m-0 p-0 d-xl-block d-none">
            <div class="tab-left  m-0 p-0 d-xl-flex d-none flex-column">
                <span class="border-bottom border-hm fs-4 fw-bold mb-2">Mục lục</span>
                <a (click)="scrollToElement('#start-a-new-coversion')" data-hr="#start-a-new-coversion"
                    class="section-select border-0 py-1 px-3 active">1. Bắt đầu một
                    chuyển đổi
                    mới</a>
                <a (click)="scrollToElement('#direct-file-upload-for-conversion')"
                    data-hr="#direct-file-upload-for-conversion" class="section-select border-0 py-1 px-3">2. Tải lên
                    tệp trực tiếp để chuyển đổi</a>
                <a (click)="scrollToElement('#ocr')" data-hr="#ocr" class="section-select border-0 py-1 px-3">3. Nhận
                    dạng
                    và bóc tách (OCR)</a>
            </div>
        </div>

    </section>

</main>