<header id="header" class="fixed-top shadow">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto">
      <a [routerLink]="['/']"
        ><img src="./assets/img/logohm.png" width="50px" alt=""
      /></a>
    </h1>
    <nav
      id="navbar"
      [ngClass]="{ 'navbar-mobile': isMobileNavbar }"
      class="navbar"
    >
      <ul>
        <li>
          <a
            (click)="onClickRouterLink()"
            class="nav-link"
            [routerLink]="['/document/api']"
            routerLinkActive="active"
            >Tài liệu
          </a>
        </li>
        <li>
          <a
            (click)="onClickRouterLink()"
            class="nav-link"
            [routerLink]="['/document/cli']"
            routerLinkActive="active"
            >CLI</a
          >
        </li>
        <li>
          <a
            (click)="onClickRouterLink()"
            class="nav-link"
            [routerLink]="['/document/pricing']"
            routerLinkActive="active"
            >Đăng ký gói</a
          >
        </li>
        <!-- <li><a class="nav-link" href="./ocr.html">Chuyển đổi tệp tin</a></li> -->
        <li *ngIf="!user">
          <a
            (click)="onClickRouterLink()"
            class="nav-link"
            [routerLink]="['/login']"
            >Đăng nhập</a
          >
        </li>
        <li>
          <a
            (click)="onClickRouterLink()"
            class="btn btn-outline-hm px-2 py-1 rounded me-2 ms-3"
            [routerLink]="['/document/pricing']"
            >Bắt đầu</a
          >
        </li>
      </ul>
      <i
        [ngClass]="{
          'fa-bars': !isMobileNavbar,
          'fa-xmark text-white': isMobileNavbar
        }"
        (click)="isMobileNavbar = !isMobileNavbar"
        class="fa-solid fa-bars mobile-nav-toggle"
      ></i>
    </nav>
  </div>
</header>
