<section id="hero" class="  d-flex align-items-center">

    <div class="container">
        <div class="page-title text-center">
            <h1 class="text-hm  ">OCR </h1>
            <p>Công cụ tiên tiến để chuyển đổi tài liệu được scan thành Editable Word, Pdf, Excel và các định dạng
                đầu ra Txt (Text).</p>
        </div>

        <app-convert></app-convert>

    </div>

</section>
<main id="main">

    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>OCR</h2>
                <p>Chọn được tất cả ngôn ngữ sử dụng trong tài liệu của bạn </p>
            </div>
            <div class=" w-75 mx-auto py-2">

                <div class="bg-hm-500 p-4 text-light row mx-0 my-1 p-0">
                    <div class="col-xl-6 col-12 m-0">
                        <label class="form-label  ">Ngôn ngữ</label>
                        <select class="form-control">
                            <option disabled>Chọn ngôn ngữ </option>
                            <option value="">Việt </option>
                            <option value="">Anh </option>
                            <option disabled>_____________</option>
                            <option value="">Nam phi </option>
                            <option value="">Ả rập </option>
                            <option value="">Americal </option>
                            <option value="">Séc </option>
                            <option value="">Đan mạch </option>
                        </select>
                    </div>
                    <div class="col-xl-6 col-12 m-0">
                        <label class="form-label  ">Ngôn ngữ bổ sung</label>
                        <select class="form-control">
                            <option disabled>Chọn ngôn ngữ </option>
                            <option value="">Việt </option>
                            <option value="">Anh </option>
                            <option disabled>_____________</option>
                            <option value="">Nam phi </option>
                            <option value="">Ả rập </option>
                            <option value="">Americal </option>
                            <option value="">Séc </option>
                            <option value="">Đan mạch </option>
                        </select>
                    </div>
                </div>

                <div class="bg-hm-500 p-4 text-light row mx-0   p-0  ">
                    <div class="col-xl-6 col-12 m-0">
                        <label class="form-label  ">Output Format & Cài đặt</label>
                        <select class="form-control">
                            <option value="">Microsoft Word Document(.docx) </option>
                            <option value="">Microsoft Excel Workbook(.xlsx) </option>
                            <option value="">Microsoft Powerpoint Presentation(.xls) </option>
                            <option value="">Text Document(.txt) </option>
                            <option value="">RFT Word Document(.rft) </option>
                        </select>
                    </div>
                    <div class="col-xl-6 col-12 m-0">
                        <label class="form-label  ">Số trang </label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Tất cả các trang
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                Số trang
                            </label>

                            <input type="text" class="form-control d-block" placeholder="eg:1-23">
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-between flex-column align-items-center">
                    <div class="w-100 text-center border-top bg-light p-3 ">
                        <p>Lưu chuyển đổi tập tin vào tôi <span class="  ps-1  fw-bold" role="button"> <i
                                    class="fa-brands fa-dropbox"></i> Dropbox</span> <span
                                class="border-start ps-1 fw-bold" role="button">
                                <i class=" fa-brands fa-google-drive "></i>
                                Google
                                driver</span></p>
                    </div>
                    <button class="btn btn-hm mx-auto fs-4 px-4 py-2 mt-2">Nhận dạng </button>
                </div>

            </div>

        </div>
    </section>

    <section class="detail-end">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h3 class="text-secondary">Làm thế nào để nhận dạng văn bản từ hình ảnh? </h3>
            </div>

            <div class="row m-0 p-0">
                <div class="col-xl-4 col-12 text-center">
                    <p class="m-0">BƯỚC 1</p>
                    <p class="fw-bold">Tải lên các tập tin hình ảnh hoặc PDF</p>
                    <p>
                        Lựa chọn các tập tin từ Máy tính, Google Drive, Dropbox, URL hoặc bằng cách kéo tập tin vào
                        trang này
                    </p>
                </div>
                <div class="col-xl-4 col-12 text-center">
                    <p class="m-0">BƯỚC 2</p>
                    <p class="fw-bold">Ngôn ngữ & định dạng</p>
                    <p>
                        Chọn tất cả các ngôn ngữ được sử dụng trong tài liệu của bạn. Thêm vào đó, hãy chọn .doc hoặc
                        bất kỳ định
                        dạng nào khác bạn cần cho tập tin kết xuất (hỗ trợ hơn 10 định dạng tập tin văn bản)
                    </p>
                </div>
                <div class="col-xl-4 col-12 text-center">
                    <p class="m-0">BƯỚC 3</p>
                    <p class="fw-bold">Chuyển đổi & tải về</p>
                    <p>
                        Nhấn "Chuyển" và bạn có thể tải về cho mình tập tin văn bản đã được nhận dạng ngay lập tức
                    </p>
                </div>
            </div>

        </div>
    </section>

</main>