<div class="head section-bg p-3">
  <div class="container px-0">
    <div class="d-flex align-items-center">
      <h4 class="py-1 text-secondary fw-bold m-0">Dịch vụ của tôi</h4>
    </div>
  </div>
</div>
<div class="p-3">
  <div class="container shadow-sm mt-2 bg-white rounded">
    <div class="d-flex align-items-center py-3 px-4 border-bottom">
      <span
        class="d-flex align-items-center pe-3 overflow-hidden border rounded-pill"
      >
        <input type="text" placeholder="Tìm kiếm dịch vụ  " />
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
      <span
        role="button"
        class="text-white fw-bold d-xl-block d-none p-2 bg-hm-500 rounded ms-auto"
        >Tất cả
        <span class="text-white bg-hm p-1 rounded-pill">
          {{ dsObjService.length }}
        </span>
      </span>
    </div>
    <div class="table bg-white">
      <div
        *ngFor="let service of dsObjService"
        class="cr p-3 row m-0 p-0 border-bottom border-light"
        role="button"
      >
        <div class="col-xl-3 px-2 col-12 fw-bold">
          <small class="p-0 fw-bold text-secondary">Dịch vụ:</small>
          <span class="text-hm">{{ service.name }}</span>
        </div>
        <div class="col-xl-3 px-2 col-12">
          <small class="p-0 fw-bold text-secondary">Chi phí:</small>
          <span class="text-warning">{{ service.price | number }} VND</span>
        </div>
        <div class="col-xl-2 px-2 col-12">
          <small class="p-0 fw-bold text-secondary">Chu kì:</small>
          <span class="text-secondary"
            >{{ service.typePayment | number }}m</span
          >
        </div>
        <!-- <small
            style="font-size: 10px; user-select: none"
            class="bg-success ms-2 fw-bold px-2 py-1 rounded-pill text-white d-flex align-items-center justify-content-center"
            ><i class="fa-solid fa-circle me-2"></i> Đang sử dụng
          </small> -->
        <div class="col-xl-4 px-2 col-12 text-success d-flex flex-wrap">
          <small
            style="font-size: 10px; user-select: none"
            class="me-2 fw-bold px-0 py-1 rounded text-success d-flex align-items-center justify-content-center"
            ><i class="fa-solid fa-circle me-2"></i> Đang sử dụng
          </small>
          <!-- <small
            style="font-size: 10px; user-select: none"
            class="me-2 fw-bold px-0 py-1 rounded text-secondary d-flex align-items-center justify-content-center"
            ><i class="fa-solid fa-circle me-2"></i> Đang chờ xử lý
          </small> -->
          <!-- <small
            style="font-size: 10px; user-select: none"
            class="me-2 px-0 fw-bold py-1 rounded text-danger d-flex align-items-center justify-content-center"
            ><i class="fa-solid fa-circle me-2"></i> Đã hết hạn
          </small> -->
          <button
            [routerLink]="['/mya/service/detail']"
            class="ms-auto btn py-1 rounded btn-secondary"
          >
            Xem chi tiết
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
