<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="page-title text-center">
      <h1 class="text-hm">Lịch sử chuyển đổi</h1>
      <p class="text-secondary">
        Danh sách các file đã chuyển đổi , và các file chuyển đổi sẽ được lưu
        trữ trong 24h
      </p>
    </div>

    <div class="rounded border overflow-hidden">
      <ng-container *ngFor="let item of files; let i = index">
        <div class="data d-flex-center border-bottom p-3">
          <div class="row m-0 p-0 w-100">
            <div class="col-xl-4 col-12 m-0 p-0">
              <span
                ><i class="fa-solid fa-file p-2 shadow-sm"></i>
                {{ item.file.name }}
              </span>
            </div>
            <div
              class="col-xl-6 col-12 row m-0 p-0 d-flex px-2 align-items-center justify-content-around"
            >
              <div
                class="col-xl-6 col-6 p-0 d-flex align-items-center flex-column status-file justify-content-between"
              >
                <span class="border-hm border rounded px-2 text-hm"
                  >Đã kết thúc
                </span>
              </div>
              <div
                class="col-xl-6 col-6 p-0 d-flex align-items-center justify-content-center"
              >
                <span
                  class="border-secondary border rounded px-2 text-secondary"
                >
                  {{
                    item.file.name
                      .split(".")
                      [item.file.name.split(".").length - 1].toUpperCase()
                  }}
                </span>
                <i class="fa-solid mx-1 fa-angle-right"></i>
                <span class="border-dark border rounded px-2 text-hm">
                  {{ item.type_file?.name }}
                </span>
              </div>
            </div>
            <div
              class="col-xl-2 col-12 m-0 p-0 d-flex align-items-center justify-content-between"
            >
              <span class="text-secondary">
                {{ formatBytes(item.file.size) }}</span
              >
              <span title="Tải về " class="py-1 px-2 rounded bg-hm text-white">
                <i class="text-white fa-solid fa-download"></i>
              </span>

              <span
                title="Đã quá thời gian lưu trữ "
                class="py-1 px-2 rounded bg-secondary text-warning"
              >
                <i class="fa-solid fa-ban"></i>
              </span>

              <span (click)="removeFile(i)" class=" "
                ><i class="fa-solid fa-xmark"></i
              ></span>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="bg-hm-500 py-3 text-center">
        <span
          role="button"
          [routerLink]="['/']"
          class="bg-white text-secondary px-2 py-1 rounded"
          >Chuyển đổi tiếp <i class="fa-solid fa-arrows-rotate"></i
        ></span>
      </div>
    </div>
  </div>
</section>
