<section style="clip-path: ellipse(97% 67% at 51% 32%);" class="h-50 text-white bg-hm  d-flex align-items-center">

    <div class="  container mt-5">
        <div class="page-title text-center">
            <h1 class=" ">For Developers</h1>
            <p>Chúng tôi thiết kế API của chúng tôi là phát triển thân thiện với tài liệu tuyệt vời, mẫu mã rõ ràng
                và một nhóm hỗ trợ nhồi hoàn toàn bởi các nhà phát triển. </p>
            <a [routerLink]="['/document/pricing']"
                class=" bg-hm fw-bold text-white border border-light rounded-0 pt-2 pb-2 px-3 fs-5 position-relative">
                Đăng ký
                <span
                    class="position-absolute text-white  rounded-bottom  top-100 end-0 w-100 fs-7 border bg-warning border-warning  ">Miễn
                    phí 1 API Key</span>
            </a>
        </div>
    </div>

</section>
<main id="main">

    <section id="services" class="services   ">
        <div class="container" data-aos="fade-up">

            <div class="row m-0 p-0   mw-100 mx-auto ">

                <!-- <div class="col-12 p-0 m-0">
                    <div class="bg-light  m-2 p-3">
                        <h5>API KEY </h5>
                        <p> Đăng ký miễn phí để có được một API Key</p>
                        <button class="btn btn-hm">Đăng ký </button>
                    </div>
                </div> -->

                <div class="col-xl-6 col-12 p-0 m-0   align-items-stretch d-flex ">
                    <div class="bg-light w-100  m-2 p-3">
                        <h5>Tài liệu</h5>
                        <p> Tài liệu này bao gồm làm thế nào để sử dụng API.</p>
                        <p> Tài liệu có sẵn trong tiếng Anh</p>
                        <a href="./document-api.html" class="btn btn-hm">Tài liệu API</a>
                    </div>
                </div>

                <div class="col-xl-6 col-12 p-0 m-0   align-items-stretch d-flex ">
                    <div class="bg-light w-100  m-2 p-3">
                        <h5>CLI</h5>
                        <p> Giao diện dòng lệnh của chúng tôi. Tài liệu có sẵn trong tiếng Anh
                        </p>
                        <a href="./document-cli.html" class="btn btn-hm ">CLI Tài liệu</a>
                        <a href="https://github.com/" class="btn btn-hm ms-2">Github </a>
                    </div>
                </div>

                <div class="  col-12 p-0 m-0">
                    <div class=" bg-light  m-2 p-3">
                        <h5>Hỗ trợ ngôn ngữ chính thức </h5>
                        <p> Mà nguồn ngôn ngữ
                        </p>
                        <div class="bg-white border-bottom px-3 py-2 d-flex">
                            <span>PHP </span>
                            <span class="ms-auto "> Mã nguồn <a class="text-hm fw-bold"
                                    href="https://github.com/">Github</a></span>
                        </div>
                        <div class="bg-white border-bottom px-3 py-2 d-flex">
                            <span>Node js </span>
                            <span class="ms-auto text-secondary "> Sắp có </span>
                        </div>
                        <div class="bg-white border-bottom px-3 py-2 d-flex">
                            <span>Python </span>
                            <span class="ms-auto text-secondary "> Sắp có </span>
                        </div>
                        <p class="mt-2 mb-0 text-secondary"> Chúng tôi sẵn sàng nhận các đóng góp & ý kiến của bạn
                            để cải
                            thiện mã nguồn
                        </p>
                    </div>
                </div>

                <div class="  col-12 p-0 m-0">
                    <div class=" bg-light  m-2 p-3">
                        <h5>OCR via API </h5>
                        <p>
                            Bạn có thể tạo OCR qua API. Nếu bạn đã đặt mua các gói <span class="text-danger">OCR trả
                                trước</span> và có các trang OCR
                            trong tài khoản của mình, chúng sẽ được sử dụng theo tỷ lệ 1:1 (1 trang OCR qua API = 1
                            trang OCR), nếu không, số phút API sẽ được sử dụng theo tỷ lệ 1: 3 (1 trang OCR qua API
                            = 3 phút API). Chi phí của các tùy chọn này gần như giống nhau.
                        </p>
                        <a href="./document-api.html#ocr" class="btn btn-outline-hm ">Tài liệu ORC Api </a>
                        <a href="#" class="btn btn-outline-hm ms-2">Php Example </a>
                    </div>
                </div>


            </div>

        </div>
    </section>

</main>