<section id="hero" class=" mh-100vh d-flex align-items-center">

    <div class="container">
        <div class="page-title text-center">
            <h1 class="text-hm">Security</h1>
            <p>Hmdigi chú ý đến sự an toàn của các tệp của bạn. Chúng tôi thực hiện tất cả các biện pháp cần
                thiết
                để bảo vệ dữ liệu của bạn. <br> Hãy xem các điểm bên dưới để biết chính xác lý do tại sao Hmdigi
                an
                toàn để sử dụng. </p>
        </div>
        <div class="mt-5 w-75 mx-auto row m-0 p-0">
            <div class="col-xl-6 col-12 mx-0 my-4 p-0 d-flex ">
                <div class="mx-2"><i class="fa-solid fa-shield-halved fs-2  "></i></div>
                <div class="mx-2">
                    <h3>Kho lưu trữ</h3>
                    <small>Các tệp đầu vào và bất kỳ tệp tạm thời nào sẽ bị xóa ngay sau khi chuyển đổi. Các tệp đầu
                        ra
                        sẽ bị xóa sau 24 giờ nhưng bạn có thể xóa chúng theo cách thủ công bất kỳ lúc nào. Để làm
                        như vậy, hãy nhấp vào "Tệp của tôi" ở trên cùng bên phải, sau đó nhấp vào biểu tượng "X" gần
                        tên tệp bạn muốn xóa.</small>
                </div>
            </div>
            <div class="col-xl-6 col-12 mx-0 my-4 p-0 d-flex ">
                <div class="mx-2"><i class="fa-solid fa-shield-halved fs-2  "></i></div>
                <div class="mx-2">
                    <h3>Dịch vụ có thể mở rộng</h3>
                    <small>Chúng tôi chuyển đổi hơn 1 triệu tệp hàng ngày, hơn 1 PB dữ liệu hàng tháng. Hmdigi vẫn
                        ổn định trong khi thích ứng với khối lượng công việc ngày càng tăng. Đối với bạn, điều đó có
                        nghĩa là nếu một số người dùng sử dụng trang web có tải cao nhất, chuyển đổi của bạn sẽ
                        không bị ảnh hưởng bởi điều đó.</small>
                </div>
            </div>
            <div class="col-xl-6 col-12 mx-0 my-4 p-0 d-flex ">
                <div class="mx-2"><i class="fa-solid fa-shield-halved fs-2  "></i></div>
                <div class="mx-2">
                    <h3>Trung tâm dữ liệu được chứng nhận</h3>
                    <small>Hmdigi chỉ sử dụng các trung tâm dữ liệu và nhà cung cấp dịch vụ đám mây đáng tin cậy và
                        có độ bảo mật cao, tất cả đều được chứng nhận ISO 27001 (Tiêu chuẩn bảo mật thông
                        tin).</small>
                </div>
            </div>
            <div class="col-xl-6 col-12 mx-0 my-4 p-0 d-flex ">
                <div class="mx-2"><i class="fa-solid fa-shield-halved fs-2  "></i></div>
                <div class="mx-2">
                    <h3>Data </h3>
                    <small>Hmdigi giữ cho dữ liệu người dùng được tách biệt, điều đó có nghĩa là mỗi chuyển đổi được
                        thực hiện trong một môi trường hộp cát riêng biệt. Do đó, chỉ bạn mới có quyền truy cập vào
                        các tệp của mình và ngay cả nhóm Hmdigi cũng không thể truy cập chúng.</small>
                </div>
            </div>



        </div>
    </div>

</section>

<section class="section-bg">
    <div class="  p-2">
        <p class="text-center">If you still have doubts about the safety of our service, you can learn more <br>
            in
            our <span class="text-danger">Privacy Policy</span> or
            visit our <span class="text-danger">Help Center.</span></p>
    </div>
</section>