<div class="mya-body d-flex align-items-stretch">
  <div
    [ngClass]="{
      'w-unset': isHideTabLeft,
      'w-nunset': !isHideTabLeft,
      'd-block': isMobile
    }"
    class="tab-left"
  >
    <div
      [ngClass]="{ 'border rounded': isMobile }"
      class="tab-left-mobile border-end d-flex flex-column bg-light h-100 w-100"
    >
      <div
        style="height: 8vh !important"
        class="logo w-100 text-center py-2 d-flex px-3 align-items-center m-0 justify-content-center"
      >
        <img
          role="button"
          [routerLink]="['']"
          src="assets/img/logohm.png"
          alt=""
          width="40px"
        />
        <i
          (click)="isMobile = false"
          class="ms-auto cancel-mobile d-show d-xl-none fs-1 text-secondary fa-solid fa-xmark"
        ></i>
      </div>
      <div class="bg-light flex-fill menu-list text-secondary">
        <div class="service mt-3">
          <small *ngIf="!isHideTabLeft" class="text-secondary mx-3 fw-bold"
            >Dịch vụ
          </small>
          <!-- <small *ngIf="isHideTabLeft" class="mx-3 fw-bold"></small> -->
          <p
            title="Dịch vụ của tôi "
            [routerLink]="['/mya/service']"
            (click)="onClickRouterLink()"
            routerLinkActive="active"
            role="button"
            class="py-3 px-3 fw-bold m-0 d-flex align-items-center"
            [ngClass]="{ 'text-center': isHideTabLeft }"
          >
            <i class="fs-5 fa-solid fa-bars-progress"></i>
            <span class="ms-3" *ngIf="!isHideTabLeft">Dịch vụ của tôi</span>
          </p>
        </div>

        <div class="service mt-2">
          <small *ngIf="!isHideTabLeft" class="text-secondary mx-3 fw-bold"
            >Tài khoản
          </small>
          <!-- <small *ngIf="isHideTabLeft" class="mx-3 fw-bold text-center">
          </small> -->
          <p
            [routerLink]="['/mya/received']"
            (click)="onClickRouterLink()"
            routerLinkActive="active"
            title="Hóa đơn"
            role="button"
            class="py-3 px-3 fw-bold m-0 d-flex align-items-center"
            [ngClass]="{ 'text-center': isHideTabLeft }"
          >
            <i class="fs-5 fa-solid fa-receipt"></i>
            <span class="ms-3" *ngIf="!isHideTabLeft">Hóa đơn</span>
          </p>
        </div>
      </div>
      <div class="mt-auto text-center">
        <small *ngIf="!isHideTabLeft" class="text-secondary">
          <div class="copyright">
            &copy; Copyright <strong><span>HMDIGI</span></strong
            >. All Rights Reserved
          </div>
        </small>
      </div>
    </div>
  </div>

  <div class="tab-right flex-fill overflow-hidden d-flex flex-column">
    <div
      style="height: 8vh !important"
      class="tr-header bg-white p-3 d-flex align-items-center"
    >
      <i
        (click)="isHideTabLeft = !isHideTabLeft"
        *ngIf="!isHideTabLeft"
        class="fa-solid d-xl-block d-none fa-ellipsis-vertical fs-4"
      ></i>

      <i
        (click)="isHideTabLeft = !isHideTabLeft"
        *ngIf="isHideTabLeft"
        class="text-secondary d-xl-block d-none fa-solid fa-bars fs-4"
      ></i>
      <i
        (click)="isMobile = true"
        class="text-secondary d-block d-xl-none fa-solid fa-bars fs-4"
      ></i>

      <div class="ms-auto d-flex align-items-center align-items-stretch">
        <button
          [routerLink]="['/pricing']"
          class="btn btn-outline-hm me-1 d-flex align-items-center justify-content-center"
        >
          <i class="fa-solid fa-circle-plus"></i>
          <span class="d-xl-inline d-none ms-2">Đăng ký dịch vụ</span>
        </button>
        <span class="border rounded p-2 mx-1 text-truncate">
          <i class="fa-solid fa-wallet mx-2 text-hm"></i>
          0 &#8363;
        </span>
        <span class="border rounded p-2 mx-1">
          <b class="text-truncate"> {{ user.name }} </b>
          <i
            title="Đăng xuất "
            (click)="logOut()"
            class="text-secondary fa-solid fa-right-from-bracket ms-2"
          ></i>
        </span>
      </div>
    </div>
    <div class="tr-body flex-fill bg-light overflow-y-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
