<section id="suport-hero" class=" section-bg d-flex align-items-center flex-shrink-1 pb-0">

    <div class="w-100 ">
        <div class="bg-line text-center py-5">
            <h1 class="text-light fw-bold">Chúng tôi có thể giúp đỡ gì được cho bạn ?</h1>
            <input type="text" class="form-control w-50 my-5 mx-auto rounded-pill"
                placeholder="Tìm kiếm vấn đề của bạn?">
            <p>
                Hoặc liên hệ trực tiếp với chúng tôi qua email
                <span class="text-white">contact@hmdigi.com</span>
                <br>
                Văn phòng địa chỉ <span class="text-white">19M đường Nguyễn Hưu Cảnh , Phường 19 Bình Thạnh
                    HCM</span>
            </p>
        </div>
    </div>

</section>

<main id="main">

    <section id="services" class="services section-bg ">
        <div class="container" data-aos="fade-up">

            <div class="row m-0 p-0">

                <div class="col-xl-4 m-0 col-md-6 d-flex align-items-stretch mt-4   " data-aos="zoom-in"
                    data-aos-delay="100">
                    <div class="icon-box text-center">
                        <div class="icon"><i class="fa-solid fa-hurricane  "></i></div>
                        <h4><a href="">Hỗ trợ 300+ định dạng</a></h4>
                        <p>Chúng tôi hỗ trợ hơn 25600 kiểu chuyển đổi khác nhau giữa hơn 300 định dạng tập tin khác
                            nhau. Nhiều
                            hơn bất kỳ chương trình chuyển đổi nào khác.</p>
                    </div>
                </div>

                <div class="col-xl-4 m-0 col-md-6 d-flex align-items-stretch mt-4  " data-aos="zoom-in"
                    data-aos-delay="200">
                    <div class="icon-box text-center">
                        <div class="icon"><i class=" fa-solid fa-bolt"></i></div>
                        <h4><a href="">Nhanh và dễ dàng</a></h4>
                        <p>Chỉ cần thả tập tin của bạn vào trang này, chọn định dạng đầu ra và nhấn nút "Chuyển
                            đổi". Đợi một
                            chút
                            để quá trình hoàn tất. Chúng tôi muốn thực hiện mọi thao tác chuyển đổi trong vòng dưới
                            1-2 phút.</p>
                    </div>
                </div>

                <div class="col-xl-4 m-0 col-md-6 d-flex align-items-stretch mt-4  " data-aos="zoom-in"
                    data-aos-delay="300">
                    <div class="icon-box text-center">
                        <div class="icon"><i class="fa-solid fa-cloud-arrow-up"></i></div>
                        <h4><a href="">Điện toán đám mây</a></h4>
                        <p>Mọi thao tác chuyển đổi diễn ra đều không tiêu tốn bất kỳ tài nguyên nào từ máy
                            tính của
                            bạn.</p>
                    </div>
                </div>

                <div class="col-xl-4 m-0 col-md-6 d-flex align-items-stretch mt-4  " data-aos="zoom-in"
                    data-aos-delay="400">
                    <div class="icon-box text-center">
                        <div class="icon"><i class="fa-solid fa-gear"></i></div>
                        <h4><a href="">Cài đặt tùy chỉnh</a></h4>
                        <p>Hầu hết kiểu chuyển đổi nào cũng đều hỗ trợ tùy chọn nâng cao. Ví dụ, với chương trình
                            chuyển đổi
                            video
                            thì bạn có thể chọn chất lượng, tỷ lệ khung hình, bộ giải mã và các cài đặt khác, xoay
                            và lật.</p>
                    </div>
                </div>

                <div class="col-xl-4 m-0 col-md-6 d-flex align-items-stretch mt-4  " data-aos="zoom-in"
                    data-aos-delay="400">
                    <div class="icon-box text-center">
                        <div class="icon"><i class="fa-solid fa-shield-halved"></i></div>
                        <h4><a href="">Đảm bảo bảo mật</a></h4>
                        <p>Chúng tôi sẽ xóa tập tin tải lên ngay tức thì và xóa tập tin đã chuyển đổi sau 24 giờ.
                            Không ai có
                            quyền truy cập vào tập tin của bạn và đảm bảo riêng tư 100%. Đọc thêm về bảo mật.</p>
                    </div>
                </div>

                <div class="col-xl-4 m-0 col-md-6 d-flex align-items-stretch mt-4  " data-aos="zoom-in"
                    data-aos-delay="400">
                    <div class="icon-box text-center">
                        <div class="icon"> <i class="fa-solid fa-tv"></i> </div>
                        <h4><a href="">Hỗ trợ mọi thiết bị</a></h4>
                        <p>Convertio dựa trên trình duyệt và hoạt động với mọi nền tảng. Không cần tải về và cài đặt
                            bất kỳ phần
                            mềm nào.</p>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section id="detail-developer" class="  ">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h5>Các câu hỏi được quan tâm</h5>
            </div>
            <div class="row m-0 p-0">
                <div class="col-xl-4 col-12 py-2 px-4 my-2">
                    <a href="">Chính sách lưu giữ tệp và mối quan tâm về quyền riêng tư?</a>
                </div>
                <div class="col-xl-4 col-12 py-2 px-4 my-2">
                    <a href="">Sự cố tải lên liên quan đến trình duyệt của Microsoft Edge

                    </a>
                </div>
                <div class="col-xl-4 col-12 py-2 px-4 my-2">
                    <a href="">Làm cách nào để thay đổi cài đặt chuyển đổi tệp?</a>
                </div>
                <div class="col-xl-4 col-12 py-2 px-4 my-2">
                    <a href="">Làm cách nào để chuyển đổi hình ảnh thành định dạng tệp thêu?</a>
                </div>
                <div class="col-xl-4 col-12 py-2 px-4 my-2">
                    <a href="">Giới hạn cấp miễn phí cho chuyển đổi tệp</a>
                </div>
                <div class="col-xl-4 col-12 py-2 px-4 my-2">
                    <a href="">Giới hạn bậc miễn phí để nhận dạng văn bản (Công cụ OCR)</a>
                </div>
            </div>
        </div>
    </section>


</main>